// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. 
@include mat.core();

/* Global styles and other style files */
@import '~@angular/material/theming'; // styling of material design components
@import '~ngx-bottom-nav/theming'; // styling of the bottom navigation
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"); // Material Icons Font

// Custom color scheme
$md-primary: (
    50 : #ffe0e0,
    100 : #ffb3b3,
    200 : #ff8080,
    300 : #ff4d4d,
    400 : #ff2626,
    500 : #ff0000,
    600 : #ff0000,
    700 : #ff0000,
    800 : #ff0000,
    900 : #ff0000,
    A100 : #ffffff,
    A200 : #fff2f2,
    A400 : #ffbfbf,
    A700 : #ffa6a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Not used in the app, but must be defined
$md-accent: (
    50 : #e0ffff,
    100 : #b3ffff,
    200 : #80ffff,
    300 : #4dffff,
    400 : #26ffff,
    500 : #00ffff,
    600 : #00ffff,
    700 : #00ffff,
    800 : #00ffff,
    900 : #00ffff,
    A100 : #ffffff,
    A200 : #f2ffff,
    A400 : #bfffff,
    A700 : #a6ffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #ff0000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define variables for Material Design color scheme
$angular-primary: mat.define-palette($md-primary, 500, 100, 900);
$angular-accent: mat.define-palette($md-accent, A100, 100, 900);
$angular-warn: mat.define-palette($md-primary);

// Define full color scheme for Material Design
$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

// Set color scheme for Angular app and components
@include mat.all-component-colors($angular-dark-theme);
@include angular-material-theme($angular-dark-theme);
@include ngx-bottom-nav-theme($angular-dark-theme);

// Make text better legible
$my-custom-typography: mat.define-typography-config(
  $headline: mat.define-typography-level(1.8rem, 1, 700),
  $title: mat.define-typography-level(1.6rem, 1, 700),
  $subheading-2: mat.define-typography-level(1.4rem, 1, 700),
  $subheading-1: mat.define-typography-level(1.2rem, 1, 700),
  $body-1: mat.define-typography-level(1rem, 1.5, 400),
  $body-2: mat.define-typography-level(1rem, 1.5, 700),
  $caption: mat.define-typography-level(0.8rem, 1.5, 400),
  $button: mat.define-typography-level(16px, 1, 700),
  $input: mat.define-typography-level(1rem, 1, 400)
);
// Include overwritten text style
@include mat.core($my-custom-typography);

// General styling
html, body { 
  min-height: 100%;
  margin: 0; 
  background-color: #111111;
  min-height: 100vh;
  touch-action: manipulation;
  font-size: 18px;
  
}
* {
  font-family: "Montserrat", sans-serif;
}


// Global variables
:root{
  --base-color: red;
}

