<mat-toolbar>
	<button mat-icon-button class="subpage" id="subpage" (click)="goBackInBrowserHistory()">
		<mat-icon>arrow_back</mat-icon>
	</button>
	<span id="current-title">{{ current_title }}</span>
	<span class="nav-spacer"></span>
</mat-toolbar>


<div id='titlebar-placeholder'></div>

<div id="bottom-nav-wrapper">
	<ngx-bottom-nav>
		<button ngx-bottom-nav label="Explore" routerLink="/explore" id="custom-styled-ngx-nav-button"
			(click)="changeRoute('explore')" id="Explore">
			<mat-icon ngxBottomNavIcon class="material-icons-outlined">category</mat-icon>
		</button>

		<button ngx-bottom-nav label="Map" routerLink="/map" id="custom-styled-ngx-nav-button"
			(click)="changeRoute('map')" id="Map">
			<mat-icon ngxBottomNavIcon class="material-icons-outlined">explore</mat-icon>
		</button>

		<button ngx-bottom-nav label="My Events" routerLink="/events" id="custom-styled-ngx-nav-button"
			(click)="changeRoute('events')" id="MyEvents">
			<mat-icon [matBadge]="savedEventsCounter" matBadgeColor="accent"
				[matBadgeHidden]="visibilitySavedEventsCounter" ngxBottomNavIcon class="material-icons-outlined">
				local_activity</mat-icon>
		</button>

		<button ngx-bottom-nav label="Profile" routerLink="/profile" id="custom-styled-ngx-nav-button"
			style="color: white" (click)="changeRoute('profile')" id="Profile">
			<mat-icon ngxBottomNavIcon class="material-icons-outlined">account_circle</mat-icon>
		</button>
	</ngx-bottom-nav>
</div>