
<nav id="bottom-nav-wrapper">
	<ngx-bottom-nav>
		<button ngx-bottom-nav label="Start" routerLink="/start-the-journey" id="custom-styled-ngx-nav-button" id="start">
			<mat-icon ngxBottomNavIcon class="material-icons-outlined">flight_takeoff</mat-icon>
		</button>

		<button ngx-bottom-nav label="The Challenge" routerLink="/the-challenge" id="custom-styled-ngx-nav-button" id="challenge">
			<mat-icon ngxBottomNavIcon class="material-icons-outlined">explore</mat-icon>
		</button>

		<button ngx-bottom-nav label="Universal Design" routerLink="/universal-design-theory" id="custom-styled-ngx-nav-button" id="theory">
			<mat-icon ngxBottomNavIcon class="material-icons-outlined">
				accessibility_new</mat-icon>
		</button>

		<button ngx-bottom-nav label="The Application" routerLink="/applying-universal-design" id="custom-styled-ngx-nav-button" id="application">
			<mat-icon ngxBottomNavIcon class="material-icons-outlined">verified</mat-icon>
		</button>
	</ngx-bottom-nav>
</nav>