
<nav id="app-settings">
	<h6>App Settings</h6>
	<li>Darkmode</li>
	<li>Lightmode</li>
	<li>Font Size</li>
</nav>


<nav id="main-nav-wrapper">
	<ngx-bottom-nav>
		<button ngx-bottom-nav label="Start" routerLink="/start-the-journey" id="custom-styled-ngx-nav-button" id="Start">
			<mat-icon ngxBottomNavIcon class="material-icons-outlined">category</mat-icon>
		</button>

		<button ngx-bottom-nav label="The Challenge" routerLink="/the-challenge" id="custom-styled-ngx-nav-button" id="Problem">
			<mat-icon ngxBottomNavIcon class="material-icons-outlined">explore</mat-icon>
		</button>

		<button ngx-bottom-nav label="Universal Design" routerLink="/universal-design-theory" id="custom-styled-ngx-nav-button" id="MyEvents">
			<mat-icon ngxBottomNavIcon class="material-icons-outlined">
				local_activity</mat-icon>
		</button>

		<button ngx-bottom-nav label="The Appilication" routerLink="/how-to-apply-ud" id="custom-styled-ngx-nav-button" id="Profile">
			<mat-icon ngxBottomNavIcon class="material-icons-outlined">account_circle</mat-icon>
		</button>
	</ngx-bottom-nav>
</nav>