@import "~@angular/material/theming";
@import "~ngx-bottom-nav/theming";



ngx-bottom-nav {
	position: fixed;
	bottom: 0px;
	z-index: 100;
	padding-bottom: 16px;
	background-color: #212121;

	mat-icon {
		padding: 2px 16px;
		margin-bottom: 4px;
	}
	mat-icon.active-mat-icon {
		background-color: var(--base-color);
		border-radius: 50px;
	}
	::ng-deep mat-toolbar {
		height: 80px !important;
		background: #212121;
		* {
			color: white;
		}
	}
}
.subpage {
	display: none;
}
